<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="C:\Users\RomanDv\.YandexLyc\WebTry\V_FlaskTry\static\css\style.css">
    <title class="red_text">'Хеллоу, Марс!'</title>
</head>
<body>
    <h1 class="red_text">Жди нас, Марс!</h1>
    <img src="../static/jpg/mars.jpg" height="322" width="900">
    <h2 class="first_h">Я ХЗ Что Тут Писать</h2>
    <h2 class="second_h">Допустим, что это нормально</h2>
    <h2 class="third_h">Но блин...</h2>
    <h2 class="forth_h">Вроде есть задание</h2>
    <h2 class="fifth_h">No ya chestno KhZ</h2>
    <p>Вот она какая, сладкая планета.</p>
</body>
</html>